{% extends 'admin/adminBase.html.twig' %}

{% block adminBody %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_view_website_get-home-page-view') }}">HOME</a></li>
            <li><a href="{{ path('app_view_admin_dashboard_get-index') }}">PANEL ADMINISTRATORA</a></li>
            <li><a href="{{ path('app_view_admin_cars_get-cars-view') }}">SAMOCHODY: WSZYSTKIE</a></li>
            <li class="active">SZCZEGÓŁY POJAZDU O NUMERZE IDENTYFIKACYJNYM: {{ car.id }}</li>
        </ol>
    </div>
    <div class="container-fluid">
        {% if car.status == "ACTIVE" %}
            <div style="background-color: green;color: white; padding: 5px; border-radius: 5px; text-align: center;">
                Pojazd gotowy do wydania.
            </div>
        {% endif %}

        {% if car.status == "BLOCKED" %}
            <div style="background-color: orange;padding: 5px; border-radius: 5px; text-align: center;">
                Pojazd tymczasowo zablokowany.
            </div>
        {% endif %}

        {% if car.status == "ARCHIVED" %}
            <div style="background-color: red;padding: 5px; border-radius: 5px; text-align: center;">
                Pojazd przeniesiony do archiwum.
            </div>
        {% endif %}

        <div style="text-align: center;margin: 15px 0;">
            <a href="{{ path('app_view_admin_cars_edit-car-by-id', {id: car.id}) }}"><button style="background-color: orange;">Edytuj</button></a>
            <a href="{{ path('app_view_admin_cars_remove-car-by-id', {id: car.id}) }}"><button style="background-color: red; color: white;">Usuń</button></a>
        </div>

        <span style="font-size: 125%;">{{ car.brand }} {{ car.model }}</span> ( Segment: {{ car.segment }} )<br>
        Obecny oddział: {{ car.currentBranch }}<br>
        Vin: {{ car.vin }}<br>
        Przebieg: {{ car.mileage }} km<br>
        Rodzaj paliwa: {{ car.fuel }}<br>
        Liczba miejsc: {{ car.numberOfSeats }}<br>
        Liczba drzwi: {{ car.numberOfDoors }}<br>
        Rodzaj zabudowy: {{ car.bodyType }}<br>
    </div>
{% endblock %}