{% extends 'admin/adminBase.html.twig' %}

{% block adminBody %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_view_website_get-home-page-view') }}">HOME</a></li>
            <li><a href="{{ path('app_view_admin_dashboard_get-index') }}">PANEL ADMINISTRATORA</a></li>
            <li class="active">{{ msg }}</li>
        </ol>
    </div>
    <div class="container-fluid">

        <div class="alert alert-info" role="alert">LICZBA POJAZDÓW W BAZIE DANYCH: {{ counter }}</div>

        {% if cars %}
            <div class="table-responsive">
                <table class="table table-striped" style="width: 100%; text-align: center;">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Marka</th>
                        <th class="text-center">Model</th>
                        <th class="text-center">Nadwozie</th>
                        <th class="text-center">Segment</th>
                        <th class="text-center" colspan="3">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                        <tr>
                            <td>{{ car.id }}</td>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.bodyType }}</td>
                            <td>{{ car.segment }}</td>
                            <td>
                                <a href="{{ path('app_view_admin_cars_get-car-details-view', {id: car.id}) }}">
                                    <button class="btn btn-success btn-xs">Pokaż</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_view_admin_cars_edit-car-by-id', {id: car.id}) }}">
                                    <button class="btn btn-warning btn-xs">Edytuj</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_view_admin_cars_remove-car-by-id', {id: car.id}) }}">
                                    <button class="btn btn-danger btn-xs">Usuń</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                BRAK POJAZDÓW DO WYŚWIETLENIA
            </div>
        {% endif %}
    </div>
{% endblock %}