{% extends 'admin/adminBase.html.twig' %}

{% block adminBody %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_view_website_get-home-page-view') }}">HOME</a></li>
            <li class="active">PANEL ADMINISTRATORA</li>
        </ol>
    </div>
    <div class="container-fluid">

        <div class="jumbotron">
            <h3>SAMOCHODY</h3>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        WSZYSTKIE
                        <div style="font-size: 125%; font-weight: bold;">{{ allCars }}</div>
                        <a href="{{ path('app_view_admin_cars_get-cars-view') }}"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        AKTYWNE
                        <div style="font-size: 125%; font-weight: bold;">{{ activeCars }}</div>
                        <a href="{{ path('app_view_admin_cars_get-cars-view') }}?status=ACTIVE"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        ZABLOKOWANE
                        <div style="font-size: 125%; font-weight: bold;">{{ blockedCars }}</div>
                        <a href="{{ path('app_view_admin_cars_get-cars-view') }}?status=BLOCKED"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        ARCHIWUM
                        <div style="font-size: 125%; font-weight: bold;">{{ archivedCars }}</div>
                        <a href="{{ path('app_view_admin_cars_get-cars-view') }}?status=ARCHIVED"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h3>ODDZIAŁY</h3>
            <div class="row">
                <div class="col-md-3 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        WSZYSTKIE
                        <div style="font-size: 125%; font-weight: bold;">{{ allBranches }}</div>
                        <a href="{{ path('app_view_admin_branches_get-branches-view') }}"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron">
            <h3>ZLECENIA</h3>
            <div class="row">
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        WSZYSTKIE
                        <div style="font-size: 125%; font-weight: bold;">{{ allOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        NOWE
                        <div style="font-size: 125%; font-weight: bold;">{{ newOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}?status=NEW"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        W REALIZACJI
                        <div style="font-size: 125%; font-weight: bold;">{{ inProgressOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}?status=IN_PROGRESS"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        ZWRÓCONE
                        <div style="font-size: 125%; font-weight: bold;">{{ returnedOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}?status=RETURNED"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        ZAKOŃCZONE
                        <div style="font-size: 125%; font-weight: bold;">{{ endedOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}?status=ENDED"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div style="background-color: #d9edf7;color: #31708f; margin: 15px; padding: 15px; border-radius: 15px;">
                        ANULOWANE
                        <div style="font-size: 125%; font-weight: bold;">{{ cancelledOrders }}</div>
                        <a href="{{ path('app_view_admin_orders_get-orders-view') }}?status=CANCELLED"><button type="button" class="btn btn-success btn-xs">POKAŻ</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
