{% extends 'admin/adminBase.html.twig' %}

{% block adminBody %}
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li><a href="{{ path('app_view_website_get-home-page-view') }}">HOME</a></li>
            <li><a href="{{ path('app_view_admin_dashboard_get-index') }}">PANEL ADMINISTRATORA</a></li>
            <li class="active">{{ msg }}</li>
        </ol>
    </div>

    <div class="container-fluid">
        <div class="alert alert-info" role="alert">LICZBA ZLECEŃ W BAZIE DANYCH: {{ counter }}</div>

        {% if orders %}
            <div class="table-responsive">
                <table class="table table-striped" style="width: 100%; text-align: center;">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Dane klientów</th>
                        <th class="text-center">Segment</th>
                        <th class="text-center">Zleceniodawca</th>
                        <th class="text-center">Zewnętrzny numer sprawy</th>
                        <th class="text-center">Wewnętrzny numer sprawy</th>
                        <th class="text-center" colspan="3">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.clientsData }}</td>
                            <td>{{ order.proposedSegment }}</td>
                            <td>{{ order.principal }}</td>
                            <td>{{ order.externalCaseNumber }}</td>
                            <td>{{ order.internalCaseNumber }}</td>
                            <td>
                                <a href="{{ path('app_view_admin_orders_get-order-details-view', {id: order.id}) }}">
                                    <button class="btn btn-success btn-xs">Pokaż</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_view_admin_orders_edit-order-by-id', {id: order.id}) }}">
                                    <button class="btn btn-warning btn-xs">Edytuj</button>
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('app_view_admin_orders_remove-order-by-id', {id: order.id}) }}">
                                    <button class="btn btn-danger btn-xs">Usuń</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                BRAK ZLECEŃ DO WYŚWIETLENIA
            </div>
        {% endif %}
    </div>
{% endblock %}